USE [master]
GO
/****** Object:  Database [TrainTicketDatabase]    Script Date: 5/13/2020 7:14:06 PM ******/
CREATE DATABASE [TrainTicketDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainTicketDatabase', FILENAME = N'C:\SQL_Database\TrainTicketDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TrainTicketDatabase_log', FILENAME = N'C:\SQL_Database\TrainTicketDatabase_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainTicketDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainTicketDatabase]
GO
/****** Object:  Table [dbo].[Carriage]    Script Date: 5/13/2020 7:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carriage](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[TrainID] [int] NULL,
 CONSTRAINT [PK_Carriage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/13/2020 7:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Passport] [nvarchar](50) NULL,
	[RepresentativeID] [int] NOT NULL,
	[TypeObjectID] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Representative]    Script Date: 5/13/2020 7:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Representative](
	[ID] [int] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Passport] [nvarchar](50) NULL,
	[TotalCost] [float] NULL,
	[Name] [nvarchar](max) NULL,
	[DateBooking] [date] NULL,
 CONSTRAINT [PK_Representative] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 5/13/2020 7:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ID] [int] NOT NULL,
	[DateDeparture] [datetime] NULL,
	[TimeDeparture] [time](7) NULL,
	[TrainID] [int] NULL,
 CONSTRAINT [PK_Schedule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleDetail]    Script Date: 5/13/2020 7:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleDetail](
	[ID] [int] NOT NULL,
	[ScheduleID] [int] NULL,
	[DepartureStationID] [int] NULL,
	[ArrivalStationID] [int] NULL,
	[Length] [int] NULL,
	[Time] [float] NULL,
	[StartTime] [time](7) NULL,
 CONSTRAINT [PK_ScheduleDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 5/13/2020 7:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[ID] [int] NOT NULL,
	[CarriageID] [int] NULL,
	[SeatTypeID] [int] NULL,
	[SeatNumber] [int] NULL,
 CONSTRAINT [PK_Seat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatType]    Script Date: 5/13/2020 7:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatType](
	[ID] [int] NOT NULL,
	[TypeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_SeatType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Station]    Script Date: 5/13/2020 7:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Station](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Location] [nvarchar](max) NULL,
	[Distance] [int] NULL,
 CONSTRAINT [PK_Station] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableCost]    Script Date: 5/13/2020 7:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableCost](
	[ScheduleID] [int] NOT NULL,
	[SeatTypeID] [int] NOT NULL,
	[Cost] [float] NOT NULL,
 CONSTRAINT [PK_TableCost] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC,
	[SeatTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 5/13/2020 7:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ID] [bigint] NOT NULL,
	[CustomerID] [int] NULL,
	[SeatID] [int] NULL,
	[Price] [float] NULL,
	[DepartureDate] [datetime] NULL,
	[DepartureTime] [datetime] NULL,
	[Status] [smallint] NULL,
	[TrainName] [nvarchar](50) NULL,
	[DepartureStationID] [int] NULL,
	[ArrivalStationID] [int] NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Train]    Script Date: 5/13/2020 7:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Train](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Train] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeObject]    Script Date: 5/13/2020 7:14:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeObject](
	[ID] [int] NOT NULL,
	[TypeObjectName] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeObject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Carriage] ([ID], [Name], [TrainID]) VALUES (1, N'Toa01', 1)
INSERT [dbo].[Carriage] ([ID], [Name], [TrainID]) VALUES (2, N'Toa02', 1)
INSERT [dbo].[Carriage] ([ID], [Name], [TrainID]) VALUES (3, N'Toa03', 1)
INSERT [dbo].[Customer] ([ID], [Name], [Passport], [RepresentativeID], [TypeObjectID]) VALUES (1, N'Tai', N'123456789', 1, 1)
INSERT [dbo].[Customer] ([ID], [Name], [Passport], [RepresentativeID], [TypeObjectID]) VALUES (11111, N'First Name Test Last Name Test', N'123456789', 4, 2)
INSERT [dbo].[Customer] ([ID], [Name], [Passport], [RepresentativeID], [TypeObjectID]) VALUES (1000011, N'First Name Test Last Name Test', N'123456789', 207, 2)
INSERT [dbo].[Representative] ([ID], [Email], [Phone], [Passport], [TotalCost], [Name], [DateBooking]) VALUES (1, N'phantuantai1234@gmail.com', N'123456789', N'123456789', 300000, NULL, NULL)
INSERT [dbo].[Representative] ([ID], [Email], [Phone], [Passport], [TotalCost], [Name], [DateBooking]) VALUES (4, N'emailtest@gmail.com', N'3664338283', N'123456789', 150000, N'Full Name Test', NULL)
INSERT [dbo].[Representative] ([ID], [Email], [Phone], [Passport], [TotalCost], [Name], [DateBooking]) VALUES (51, N'emailtest@gmail.com', N'3664338283', N'123456789', 150000, N'Full Name Test', NULL)
INSERT [dbo].[Schedule] ([ID], [DateDeparture], [TimeDeparture], [TrainID]) VALUES (1, CAST(N'2020-05-10T00:00:00.000' AS DateTime), CAST(N'14:00:00' AS Time), 1)
INSERT [dbo].[Schedule] ([ID], [DateDeparture], [TimeDeparture], [TrainID]) VALUES (2, CAST(N'2020-05-15T00:00:00.000' AS DateTime), CAST(N'16:00:00' AS Time), 2)
INSERT [dbo].[Schedule] ([ID], [DateDeparture], [TimeDeparture], [TrainID]) VALUES (3, CAST(N'2020-05-15T00:00:00.000' AS DateTime), CAST(N'17:00:00' AS Time), 1)
INSERT [dbo].[ScheduleDetail] ([ID], [ScheduleID], [DepartureStationID], [ArrivalStationID], [Length], [Time], [StartTime]) VALUES (1, 1, 1, 53, 65, NULL, NULL)
INSERT [dbo].[ScheduleDetail] ([ID], [ScheduleID], [DepartureStationID], [ArrivalStationID], [Length], [Time], [StartTime]) VALUES (2, 1, 1, 2, 18, 0.3, NULL)
INSERT [dbo].[ScheduleDetail] ([ID], [ScheduleID], [DepartureStationID], [ArrivalStationID], [Length], [Time], [StartTime]) VALUES (3, 2, 2, 1, 34, NULL, NULL)
INSERT [dbo].[Seat] ([ID], [CarriageID], [SeatTypeID], [SeatNumber]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Seat] ([ID], [CarriageID], [SeatTypeID], [SeatNumber]) VALUES (2, 1, 1, 2)
INSERT [dbo].[Seat] ([ID], [CarriageID], [SeatTypeID], [SeatNumber]) VALUES (3, 1, 1, 3)
GO
INSERT [dbo].[SeatType] ([ID], [TypeName]) VALUES (1, N'Nằm Khoang 4')
INSERT [dbo].[SeatType] ([ID], [TypeName]) VALUES (2, N'Ghế Mềm')
INSERT [dbo].[SeatType] ([ID], [TypeName]) VALUES (3, N'Ghế Cứng')
INSERT [dbo].[Station] ([ID], [Name], [Location], [Distance]) VALUES (1, N'Hà Nội', NULL, 0)
INSERT [dbo].[Station] ([ID], [Name], [Location], [Distance]) VALUES (2, N'Thường Tín', NULL, 18)
INSERT [dbo].[Station] ([ID], [Name], [Location], [Distance]) VALUES (3, N'Phú Xuyên', NULL, 34)
INSERT [dbo].[TableCost] ([ScheduleID], [SeatTypeID], [Cost]) VALUES (2, 1, 150000)
INSERT [dbo].[TableCost] ([ScheduleID], [SeatTypeID], [Cost]) VALUES (2, 2, 300000)
INSERT [dbo].[TableCost] ([ScheduleID], [SeatTypeID], [Cost]) VALUES (2, 3, 350000)
INSERT [dbo].[Ticket] ([ID], [CustomerID], [SeatID], [Price], [DepartureDate], [DepartureTime], [Status], [TrainName], [DepartureStationID], [ArrivalStationID]) VALUES (1, 1, 227, 300000, CAST(N'2020-05-10T00:00:00.000' AS DateTime), CAST(N'2020-04-14T08:00:00.000' AS DateTime), 1, N'SE04', NULL, NULL)
INSERT [dbo].[Ticket] ([ID], [CustomerID], [SeatID], [Price], [DepartureDate], [DepartureTime], [Status], [TrainName], [DepartureStationID], [ArrivalStationID]) VALUES (100100, 10100010, 2, 150000, CAST(N'2020-05-10T00:00:00.000' AS DateTime), CAST(N'1970-01-01T14:00:00.000' AS DateTime), 1, N'SE3', 1, 2)
INSERT [dbo].[Ticket] ([ID], [CustomerID], [SeatID], [Price], [DepartureDate], [DepartureTime], [Status], [TrainName], [DepartureStationID], [ArrivalStationID]) VALUES (111111, 98498910, 22, 150000, CAST(N'2020-05-10T00:00:00.000' AS DateTime), CAST(N'1970-01-01T14:00:00.000' AS DateTime), 1, N'SE3', 1, 2)
INSERT [dbo].[Train] ([ID], [Name]) VALUES (1, N'SE3')
INSERT [dbo].[Train] ([ID], [Name]) VALUES (2, N'SE2')
INSERT [dbo].[Train] ([ID], [Name]) VALUES (3, N'SE5')
INSERT [dbo].[TypeObject] ([ID], [TypeObjectName]) VALUES (1, N'Trẻ Em')
INSERT [dbo].[TypeObject] ([ID], [TypeObjectName]) VALUES (2, N'Người Lớn')
INSERT [dbo].[TypeObject] ([ID], [TypeObjectName]) VALUES (3, N'Sinh Viên')
ALTER TABLE [dbo].[Carriage]  WITH CHECK ADD  CONSTRAINT [FK_Carriage_Train1] FOREIGN KEY([TrainID])
REFERENCES [dbo].[Train] ([ID])
GO
ALTER TABLE [dbo].[Carriage] CHECK CONSTRAINT [FK_Carriage_Train1]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Representative] FOREIGN KEY([RepresentativeID])
REFERENCES [dbo].[Representative] ([ID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Representative]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_TypeObject] FOREIGN KEY([TypeObjectID])
REFERENCES [dbo].[TypeObject] ([ID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_TypeObject]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Train] FOREIGN KEY([TrainID])
REFERENCES [dbo].[Train] ([ID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Train]
GO
ALTER TABLE [dbo].[ScheduleDetail]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleDetail_Schedule] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ID])
GO
ALTER TABLE [dbo].[ScheduleDetail] CHECK CONSTRAINT [FK_ScheduleDetail_Schedule]
GO
ALTER TABLE [dbo].[ScheduleDetail]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleDetail_Station] FOREIGN KEY([DepartureStationID])
REFERENCES [dbo].[Station] ([ID])
GO
ALTER TABLE [dbo].[ScheduleDetail] CHECK CONSTRAINT [FK_ScheduleDetail_Station]
GO
ALTER TABLE [dbo].[ScheduleDetail]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleDetail_Station1] FOREIGN KEY([ArrivalStationID])
REFERENCES [dbo].[Station] ([ID])
GO
ALTER TABLE [dbo].[ScheduleDetail] CHECK CONSTRAINT [FK_ScheduleDetail_Station1]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_Carriage] FOREIGN KEY([CarriageID])
REFERENCES [dbo].[Carriage] ([ID])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_Carriage]
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_SeatType] FOREIGN KEY([SeatTypeID])
REFERENCES [dbo].[SeatType] ([ID])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_SeatType]
GO
ALTER TABLE [dbo].[TableCost]  WITH CHECK ADD  CONSTRAINT [FK_TableCost_ScheduleDetail] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[ScheduleDetail] ([ID])
GO
ALTER TABLE [dbo].[TableCost] CHECK CONSTRAINT [FK_TableCost_ScheduleDetail]
GO
ALTER TABLE [dbo].[TableCost]  WITH CHECK ADD  CONSTRAINT [FK_TableCost_SeatType] FOREIGN KEY([SeatTypeID])
REFERENCES [dbo].[SeatType] ([ID])
GO
ALTER TABLE [dbo].[TableCost] CHECK CONSTRAINT [FK_TableCost_SeatType]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Customer]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Seat] FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seat] ([ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Seat]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Station] FOREIGN KEY([DepartureStationID])
REFERENCES [dbo].[Station] ([ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Station]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Station1] FOREIGN KEY([ArrivalStationID])
REFERENCES [dbo].[Station] ([ID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Station1]
GO
USE [master]
GO
