<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>AdminLTE 3 | Dashboard 2</title>
<script src="../dist/jquery/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="../dist/css/datatables.min.css">

<link rel="stylesheet" href="../dist/css/adminlte.min.css">
<script src="../dist/js/adminlte.js"></script>


<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
<link href="../dist/css/fontawesome-free/css/all.css" rel="stylesheet">