<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin | Carriage</title>

    <%- include('adminHeader'); -%>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <div id="sidebar">
            <%- include('adminSidebar', {Staff : data}); -%>
        </div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper p-4">
            <h3>Carriage List</h3>
            <div class="card">
                <div class="card-body pb-0">
                    <div id="app">
                        <div class="card-header">
                            <button type="button" @click="createCarriage" class="btn btn-success"><i
                                    class="fa fa-plus"></i> Create</button>
                        </div>
                        <table id="myTable" v-if="Carriages" class="table-light">
                            <thead class="font-weight-bold table-info">
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Train</th>
                                    <th class="text-right">...</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item,index) in Carriages" :key="index">
                                    <td>{{item.ID}}</td>
                                    <td>{{item.Name}}</td>
                                    <td>{{item.Train.Name}}</td>
                                    <td class="text-right"><button type="button" class="btn btn-warning"
                                            @click="updateCarriage(item.ID,index)"><i class="fa fa-edit"></i>
                                            Edit</button>
                                        <button type="button" class="btn btn-info"
                                            @click="delCarriage(item.ID,index)"><i class="fa fa-trash"></i>
                                            Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <%- include('adminFooter'); -%>
        </footer>
    </div>
    <!-- <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script> -->

    <!-- ./wrapper -->
    <!-- AdminLTE App -->

    <!-- PAGE SCRIPTS -->
    <script src="../dist/js/pages/dashboard2.js"></script>

    <script src="../dist/vue.js"></script>
    <script src="../dist/vue-router.js"></script>
    <script src="../dist/axios.js"></script>
    <script type="module" src="../dist/@CarriageVue/carriageVue.js"></script>
    <script src="../dist/sweetalert2.all.min.js"></script>
    <script src="../dist/uuid.js"></script>
    <script>

    </script>



</body>

</html>