<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin | Customer</title>

    <%- include('adminHeader'); -%>
    <link type="text/css" href="../dist/css/select2.min.css" rel="stylesheet" />

    <script src="../dist/js/select2.min.js"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <div id="sidebar">
            <%- include('adminSidebar', {Staff: data}); -%>
        </div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper p-4">
            <h3>Customer List</h3>
            <div class="card card-solid">
                <div class="card-body pb-0">
                    <div id="app">
                        <div class="card" style="padding: 15px;">
                            <label>Select schedule:</label>
                            <select id="select">
                                <option v-for="item in Schedule" v-bind:value="item.ID">
                                    {{from(item.DepartureStationID)}}
                                    --> {{to(item.ArrivalStationID)}} Date: {{format(item.ScheduleID)}}
                                </option>
                            </select>
                            <div id="count">
                                <p style="color: skyblue;margin: 15px ;"></p>
                            </div>
                            <div style="text-align: right;">
                                <button style="margin: 15px;" @click="abc" type="button" class="btn btn-info"><i
                                        class="fa fa-search"></i>
                                    Search</button>
                            </div>
                        </div>
                        <table id="myTable" v-if="Customers" class="table-light">
                            <thead class="font-weight-bold table-info">
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Passport</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item,index) in listCus">
                                    <td v-text="item.ID"></td>
                                    <td v-text="item.Name"></td>
                                    <td>{{item.Passport}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
        <footer>
            <%- include('adminFooter'); -%>
        </footer>
    </div>

    <!-- ./wrapper -->

    <!-- PAGE SCRIPTS -->
    <script src="../dist/js/pages/dashboard2.js"></script>

    <script src="../dist/vue.js"></script>
    <script src="../dist/vue-router.js"></script>
    <script src="../dist/axios.js"></script>
    <script src="../dist/moment.js"></script>
    <script src="../dist/sweetalert2.all.min.js"></script>
    <script type="module" src="../dist/@CustomerVue/cusVue.js"></script>
    <!-- Language dependant libraries -->
    <script>
        $(".js-example").on("change", function (e) { log("change"); });

    </script>
</body>

</html>