<footer class="main-footer">
    
    <div class="gap gap-section hidden-sm hidden-xs"></div>
    <div class="gap gap-small hidden-lg hidden-md"></div>
    <div class="container">
        <div class="row mobile-text-center">
            <div class="col-md-3 col-sm-12">
                <div class="footer-title">
                    Information            </div>
                <br>
                <div class="footer-link">
                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="help.html">Help</a></li>
                    </ul>
                </div>
            </div>
            <div class="visible-sm visible-xs col-sm-12" style="height: 25px"></div>
            <div class="col-md-3 col-sm-12">
                <div class="footer-title">
                     Terms and Conditions             </div>
                 <br>
                 <div class="footer-link">
                    <ul>
                        <li><a href="legal/index.html#privacy-policy">Privacy Policy</a></li>
                        <li><a href="legal/index.html#terms-of-use">Terms of Use</a></li>
                                        </ul>
                </div>
            </div>
            <div class="visible-sm visible-xs col-sm-12" style="height: 25px"></div>
            <div class="col-md-3 col-sm-12">
                 <div class="footer-title">
                     Work With Us             </div>
                 <br>
                 <div class="footer-link">
                    <ul>
                        <li><a href="agent.html">Agent</a></li>
                        <li><a style="border:none" href="affiliate.html">Affiliate</a></li>
                    </ul>
                </div>
            </div>
            <div class="visible-sm visible-xs col-sm-12" style="height: 25px"></div>
            <div class="col-md-3 col-sm-12">
                <div class="footer-title">
                     Follow Us             </div>
                 <br>
                 <a href="https://twitter.com/baolau" target="_blank" class="Socail-twitter-animate box-icon-normal img-circle"></a>&nbsp;
            </div>
        </div>
    </div>
        <div style="border-top: 1px solid #282c2c;margin: 15px 0 30px 0;"></div>
        
        <div style="border-top: 1px solid #282c2c;margin: 20px 0 25px 0;"></div>
        <div class="container">
            <div style="padding-bottom: 25px;white-space: normal;" class="footer-logo payment text-center">
                <div style="margin-bottom: 15px" class="bold">We accept payments with Visa, MasterCard, American Express, JCB, UnionPay and Alipay.</div>
                <!-- <img src="../images/footer/payments/visa.svg"></img>
                <img src="../images/footer/payments/mastercard.svg"></img>
                <img src="../images/footer/payments/amex.svg"></img>
                                   
                    <img src="../images/footer/payments/jcb.svg"></img>
                    <img src="../images/footer/payments/unionpay.svg"></img>
                    <img style="margin-bottom: 2px" src="../images/footer/payments/alipay.svg"></img> -->
                            <div style="margin-top: 20px" class="text-center">© 2020 — All rights reserved</div>
            </div>
        </div>
             
    </footer>