<div id="main">

    <form method="POST" action="/save">
        <select id="to">
            <option value="null">-</option>
            <option value="Ha noi">HN</option>
            <option value="Sai gon">HCM</option>
        </select>
        <select id="from">
            <option value="null">-</option>
            <option value="Ha noi">HN</option>
            <option value="Sai gon">HCM</option>
        </select>
    </form>

</div>
