<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin | Schedule</title>

    <%- include('adminHeader') %>
    <link type="text/css" href="../dist/css/select2.min.css" rel="stylesheet" />

    <script src="../dist/js/select2.min.js"></script>

    <!-- <script>
        function load() {
            $('.js-example-basic-single').select2({
                placeholder: 'Select station ...',
                theme: "default",
            });
        }
    </script> -->

    <style>
        .swal2-container {
            z-index: 0 !important;
        }

        .swal-detail {
            width: 900px !important;
        }
    </style>

    <!-- vue-select -->
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <%- include('adminSidebar' , {Staff : data}) %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper p-4">
            <h3>Create Schedule</h3>
            <div class="card">
                <div class="card-body pb-0">
                    <div id="app">
                        <div class="card-header">
                            <button type="button" @click="createSchedule" class="btn btn-success"><i
                                    class="fa fa-plus"></i> Create</button>
                        </div>
                        <table id="myTable" v-if="Schedules" class="table-light">
                            <thead class="font-weight-bold table-info">
                                <tr>
                                    <th>#</th>
                                    <th>Departure date</th>
                                    <th>Departure time</th>
                                    <th>Train</th>
                                    <th class="text-right">...</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item,index) in Schedules" :key="index">
                                    <td>{{item.ID}}</td>
                                    <td>{{new Date(item.DateDeparture).toDateString()}}</td>
                                    <td>{{formatTime(item.TimeDeparture)}}</td>
                                    <td>{{item.Train.Name}}</td>
                                    <td class="text-right">
                                        <button v-bind:id="item.ID" type="button" class="btn btn-danger del"
                                            @click="delSchedule(item.ID,index)"><i class="fa fa-trash"></i>
                                            Delete</button>
                                        <!-- <button @click="checkAbleDel(item.ID,this)">abc</button> -->
                                        <button type="button" class="btn btn-info" @click="viewDetail(item.ID)"><i
                                                class="fa fa-info"></i> View detail</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <%- include('adminFooter'); -%>
        </footer>
    </div>

    <script src="../dist/js/pages/dashboard2.js"></script>
    <script src="../dist/vue.js"></script>
    <script src="../dist/vue-router.js"></script>
    <script src="../dist/axios.js"></script>
    <script src="../dist/sweetalert2.all.min.js"></script>
    <script src="../dist/uuid.js"></script>

    <script src="../dist/moment.js"></script>
    <script type="module" src="../dist/@ScheduleVue/scheduleVue.js"></script>
</body>

</html>