<header id="main-header" class="header">
    <div class="header-bar">
        <!-- Mobile Menu -->
        <div class="row mobile-header hidden-lg hidden-md">
            <div class="container">
                <a class="pull-right" href="/manageBooking">
                    <i style="padding-right: 5px" class="fa fa-file-text" aria-hidden="true"></i>
                    Manage booking
                </a>
                <a class="pull-right" href="/listFare" style="margin-right: 10px;">
                    <i style="padding-right: 5px" class="fa fa-file-text" aria-hidden="true"></i>
                    List Schedule
                </a>
            </div>
        </div>
        <!-- DESKTOP MANAGE BOOKING -->
        <div style="padding: 0 25px;" class="sidebar-menu-style pull-right hidden-sm hidden-xs">
            <a href="/manageBooking" target="_blank">
                <i style="padding-right: 5px" class="fa fa-file-text" aria-hidden="true"></i>
                Manage booking </a>
        </div>
        <!-- DESKTOP DESTINATIONS -->
        <div style="padding: 0 25px;" class="sidebar-menu-style pull-right hidden-sm hidden-xs">
            <a href="/listFare" target="_blank">
                <i style="padding-right: 5px" class="fa fa-map-signs" aria-hidden="true"></i>
                List Schedule </a>
        </div>
    </div><!-- sidebar-menu -->
</div><!-- END sub-header -->
</header>