<section class="left side-nav">
    <button type="button" class="close visible-xs visible-sm">&times;</button>
    <nav class="mobile-nav-links links">
        <ul>
            <li>
                <a href="/" target="_blank">LIST SCHEDULE</a>
            </li>
            <li><a href="/manageBooking" target="_blank">MANAGE BOOKING</a></li>
        </ul>
    </nav>
</section>