<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin | Station</title>

    <%- include('adminHeader'); -%>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <div id="sidebar">
            <%- include('adminSidebar', {Staff : data}); -%>
        </div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper p-4">
            <h3>Station List</h3>
            <div class="card">
                <div class="card-body pb-0">
                    <div id="app">
                        <div class="card-header">
                            <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Create</button>
                        </div>

                        <table id="myTable" v-if="Stations" class="table-light">
                            <thead class="font-weight-bold table-info">
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Distance</th>
                                    <!-- <th class="text-right">...</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in Stations">
                                    <td v-text="item.ID"></td>
                                    <td v-text="item.Name"></td>
                                    <td v-text="item.Distance"></td>
                                    <!-- <td class="text-right"><button type="button" class="btn btn-warning"><i
                                                class="fa fa-edit"></i> Edit</button> <button type="button"
                                            class="btn btn-info"><i class="fa fa-trash"></i> Delete</button></td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        <footer>
            <%- include('adminFooter'); -%>
        </footer>
    </div>

    <!-- ./wrapper -->
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.js"></script>

    <!-- PAGE SCRIPTS -->
    <script src="../dist/js/pages/dashboard2.js"></script>

    <script src="../dist/vue.js"></script>
    <script src="../dist/vue-router.js"></script>
    <script src="../dist/axios.js"></script>
    <script type="module" src="../dist/@StationVue/staVue.js"></script>
    <script src="../dist/sweetalert2.all.min.js"></script>
    <!-- Language dependant libraries -->
</body>

</html>