<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('adminheader'); -%>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <div id="sidebar">
            <%- include('adminsidebar'); -%>
        </div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper p-4">
            <h3>Station List</h3>
            <div class="card">
                <div class="card-body pb-0">
                    <div id="app" class="card">
                        <div class="card-header">
                            <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Create</button>
                            <div class="card-tools">
                                <ul class="pagination pagination-sm float-right">
                                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                                </ul>
                            </div>
                        </div>

                        <table v-if="Stations" class="table">
                            <thead class="font-weight-bold table-info">
                                <td>#</td>
                                <td>Name</td>
                                <td class="text-right">....</td>
                            </thead>
                            <tr v-for="item in Stations">
                                <td v-text="item.ID"></td>
                                <td v-text="item.Name"></td>
                                <td class="text-right"><button type="button" class="btn btn-warning"><i
                                            class="fa fa-edit"></i> Edit</button> <button type="button"
                                        class="btn btn-info"><i class="fa fa-trash"></i> Delete</button></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

        </div>

        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        <footer>
            <%- include('adminfooter'); -%>
        </footer>
    </div>

    <!-- ./wrapper -->
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.js"></script>

    <!-- PAGE SCRIPTS -->
    <script src="../dist/js/pages/dashboard2.js"></script>

    <script src="../dist/vue.js"></script>
    <script src="../dist/vue-router.js"></script>
    <script src="../dist/axios.js"></script>
    <script type="module" src="../dist/@StationVue/staVue.js"></script>
    <script src="../dist/sweetalert2.all.min.js"></script>
    <!-- Language dependant libraries -->
</body>

</html>