<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>AdminLTE 3 | Dashboard 2</title>


    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <div id="sidebar">
            <my-sidebar></my-sidebar>
        </div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper p-4">
            <h3>Train List</h3>
            <div class="card">
                <div class="card-body pb-0">
                    <div id="app" class="card">
                        <div class="card-header">
                            <button type="button" @click="createTrain" class="btn btn-success"><i
                                    class="fa fa-plus"></i> Create</button>
                            <div class="card-tools">
                                <ul class="pagination pagination-sm float-right">
                                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                                </ul>
                            </div>
                        </div>

                        <table v-if="listTrain" class="table">
                            <thead class="font-weight-bold table-info">
                                <td>#</td>
                                <td>Name</td>
                                <td class="text-right">....</td>
                            </thead>
                            <tr v-for="item in listTrain">
                                <td>{{item.ID}}</td>
                                <td>{{item.Name}}</td>
                                <td class="text-right"><button type="button" class="btn btn-warning"  @click="updateTrain(item.ID)"><i
                                            class="fa fa-edit"></i> Edit</button> <button type="button"
                                        class="btn btn-info" @click="delTrain(item.ID)"><i class="fa fa-trash"></i>
                                        Delete</button></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

        </div>

        <!-- /.content-wrapper -->

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        <footer id="myfooter" class="main-footer">
            <my-footer></my-footer>
        </footer>
    </div>

    <!-- ./wrapper -->
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.js"></script>

    <!-- PAGE SCRIPTS -->
    <script src="dist/js/pages/dashboard2.js"></script>

    <script src="../dist/vue.js"></script>
    <script src="../dist/vue-router.js"></script>
    <script src="../dist/axios.js"></script>
    <script type="module" src="../dist/@TrainVue/trainVue.js"></script>
    <script src="../dist/sidebar.js"></script>
    <script src="../dist/footer.js"></script>
    <script src="../dist/sweetalert2.all.min.js"></script>
    <!-- Language dependant libraries -->
</body>

</html>